<ion-content class="overlay overlay-show">
  <div class="login-logo">
    <img src="../../../../assets/img/logo_yalla_rewards_yw.svg" alt="Ionic logo">
  </div>
  <div class="content-login">
    <div class="title">Please introduce the code sent to your email<a routerLink="../newpassword">new password</a></div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item lines="none">
          <ion-input type="text" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" class="ion-text-start">
          </ion-input>
        </ion-item>
        <div class="error-container">
          <div *ngIf="submitted && f.code?.errors" class="invalid-feedback">
            <div *ngIf="f.code?.errors?.required">Code is required</div>
          </div>
          <div class="invalid-feedback">
            <div *ngIf="error">{{error}}</div>
          </div>
        </div>
        <div class="btn-container">
          <ion-button [disabled]="loading" size="small" color="light" class="register-btn" (click)="onSubmit()">Verify</ion-button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
