ion-toolbar{
  --background: #002152;
  opacity: 1;
}
ion-content {
  --background: #f4f5f8;
}
ion-title, ion-menu-button {
  color: white;
}
.color-site{
  color: black;
}
.title-color{
  color: #FECC07;
  font-weight: bolder;
  text-transform: uppercase;
}

.initial-content-store{
  padding: 20px 10px 10px;
}

.first-line{
  font-weight: bolder;
  font-size: 18px;
}

ion-segment-button{
  font-weight: bolder;
  font-size: 18px;
  color: gray;
  &.segment-button-checked{
    ion-label {
      color: black;
    }
  }
  &::part(indicator-background){
    color: grey !important;
    background: black;
  }
}

.center{
  text-align: center;
}

.position-logo-center{
  margin-left:31%;
}

.info-rest {
  font-size: 14px;
  color: grey;
  margin-top: 8px;
  clear: left;
  a {
    color: grey;
    text-decoration: none;
  }
}

.info-column {
  font-weight: bolder;
}

.name-store{
  color: black;
  font-size: 16px;
  font-weight: bolder;
}

.map {
  float:right;
  /*a{
    vertical-align: text-bottom;
  }*/
  span {
    font-weight: normal;
  }
}

.name {
  float:left;
}

:host ::ng-deep ion-accordion-group{
  ion-accordion {
    border-radius: 10px;
    .icon {
      font-size: 50px;
    }
    ion-item{
      &::part(native){
        background-color: white;
        padding:10px;
      }
      .header-history{
        font-weight: bolder;
        color: black;
        padding-left: 20px;
      }
      ion-icon {
        &.ion-accordion-toggle-icon {
          color: black !important;
        }
      }
    }
  }
}

ion-icon{
  &.map-icon{
    font-size: 17px;
    color: #D10000;
  }
}
.nobold{
  font-weight: normal;
}

ion-card-content{
  // background-color: #002152;
  background: linear-gradient(
      to bottom,
      #002152,
      #002152 2.75rem,
      transparent 1rem,
      transparent 100%
  );
  color: white;
  .header-website{
    padding-bottom: 12px;
    .business{
      color: white;
    }
    .website{
      font-weight: bolder;
      font-size: 16px;
      top: 23px;
      color: black;
    }
    ion-icon{
      font-size: 50px;
    }
  }
  &.transparent{
    background: transparent;
  }
}

ion-button {
  &.btn-website {
    --ion-background: black;
    color: white;
  }
}

.btn-website-container{
  margin: 10px 0;
}


.img-brand{
  border-radius: 35px;
  width: 55px;
}

.txt-center {
  text-align: center;
}
