ion-toolbar{
  --background: #002152;
}
ion-title, ion-menu-button {
  color: white;
}
.support-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}
.center{
  text-align: center;
}

.position-logo-center{
  margin-left:31%;
}

.support-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}
