ion-content{
  /*--ion-background-color:radial-gradient(180% 168% at bottom, #3E9E88 55%, white 45%) !important;*/
  --ion-background-color: #002152;
  // height: 100vh!important;

  .content-login {
    position: relative;
    h1 {
      font-size: 25px;
      text-align: center;
      color: white;
      text-transform: uppercase;
    }
  }

  ion-list {
    ion-select {
      &.form-control:focus {
        outline: none !important;
        border-color: #002152;
        box-shadow: none;
      }
      max-width: 100%;
    }
    ion-select.form-control{
      width: 100%;
      display: flex;
    }
    ion-item.item {
      --highlight-color-valid: transparent;
      --highlight-color-invalid: transparent;
      --highlight-color-focused: var(--ion-color-light);
      ion-label{
        margin-bottom: 10px;
      }
      background-color: #002152;
      width: 100%;
      .label {
        width: 10%;
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.2em;
        margin-bottom: 10px;
      }
      ion-input {
        --background: white;
        text-align: center;
        --padding-start: 10px;
        caret-color: auto;
      }
    }
    .name-form{
      ion-item.item {
        &.left{
          float: left;
        }
        &.right{
          float: right;
        }
        width: 50%;
      }
    }
  }

  .btn-primary {
    background-color: #002152;
    border-color: #002152;
    color: #fff;
    letter-spacing: .25em;
    border-radius: 0;
    --color: #002152;
    --hover: #00a1f2;
    --disabled: #bfa888bfa888;
    --active: #006ea6;
  }

  .btn-outline.btn-primary {
    color: #bfa888;
    background-color: transparent;
    background-image: none;
    border-color: #002152;
    float: right;
  }

  .btn-modern {
    text-transform: uppercase;
    font-size: 1em;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    font-weight: 600;
    margin-top: 0.5rem!important;
  }

  .btn-outline{
    border-width: 2px;
  }

  .form-btn-login {
    margin:15px;
    text-align: center;
    .btn-right{
      margin-left:25px;
    }
    .btn, a{
      margin: 10px;
      padding:17px;
      text-decoration: none;
      height:50px;
      border-radius: 10px;
      background-color: white;
      color: #002152;
    }
  }

}

.login-logo img {
  width: 230px;
  margin: auto;
  display: block;
  margin-top:5px;
}

.list {
  margin-bottom: 0;
}



.signup-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.signup-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.is-invalid {
  border: 1px red solid;
}

.form-container {
  overflow-y: scroll;
  height: calc(100vh - 127px);
}

.popover-content {
  top:50% !important;
}

.error-container {
  margin-left: 20px;
  .invalid-feedback {
    display: inline;
  }
}

::ng-deep .picker-item-active {
  color: red !important;
}

