<ion-content class="overlay overlay-show">
  <div class="login-logo">
    <img src="../../../../assets/img/logo_yalla_rewards_yw.svg" alt="Ionic logo">
  </div>
  <div class="content-login">
    <div class="title">Please introduce your email<a routerLink="../code">code</a></div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item lines="none">
          <ion-input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="ion-text-start">
          </ion-input>
        </ion-item>
        <div class="error-container">
          <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
            <div *ngIf="f.email?.errors?.required">Email is required</div>
            <div *ngIf="f.email?.errors?.pattern">Please provide a valid email address</div>
          </div>
        </div>
        <div class="btn-container">
          <ion-button [disabled]="loading" size="small" color="light" class="register-btn" (click)="onSubmit()">Register</ion-button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
