<ion-content class="overlay overlay-show">
  <div class="login-logo">
    <img src="../../../../assets/img/logo_yalla_rewards_yw.svg" alt="Ionic logo">
  </div>
  <div class="content-login">
    <div class="title">Please insert your new password</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item lines="none">
          <ion-input type="password" placeholder="Type New Password" formControlName="newpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }" class="ion-text-start">
          </ion-input>
        </ion-item>
        <ion-item lines="none spt-10">
          <ion-input type="password" placeholder="Retype New Password" formControlName="newpasswordrepeat" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newpasswordrepeat.errors }" class="ion-text-start">
          </ion-input>
        </ion-item>
        <div class="error-container">
          <div *ngIf="submitted && f.newpassword?.errors" class="invalid-feedback">
            <div *ngIf="f.newpassword?.errors?.required">Code is required</div>
            <div *ngIf="f.newpassword?.errors?.pattern">Please provide a valid password:<br />
              <ul>
                <li>Minimum eight characters</li>
                <li>at least one uppercase letter</li>
                <li>one lowercase letter</li>
                <li>one number</li>
                <li>and one special character</li>
              </ul>
            </div>
          </div>
          <div *ngIf="submitted && form?.errors?.MatchFields" class="invalid-feedback">
            <div>Password has to be the same in both fields</div>
          </div>
          <div class="invalid-feedback">
            <div *ngIf="error">{{error}}</div>
          </div>
        </div>
        <div *ngIf="successMessage" class="successMessage">Your new password has been changed</div>
        <div class="btn-container">
          <ion-button *ngIf="!successMessage" [disabled]="loading" size="small" color="light" class="register-btn" (click)="onSubmit()">Change</ion-button>
          <ion-button *ngIf="successMessage" size="small" color="light" class="register-btn" (click)="gotToLogin()">Go to Login Page</ion-button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
