<ion-content class="overlay overlay-show">
  <div class="login-logo">
    <img src="../../../../assets/img/logo_yalla_rewards_yw.svg" alt="Ionic logo">
  </div>
  <div class="content-login">
    <div class="title">Please verify your new password</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item lines="none">
          <ion-input type="text" placeholder="Type New Password" formControlName="newpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }" class="ion-text-start">
          </ion-input>
        </ion-item>
        <ion-item lines="none spt-10">
          <ion-input type="text" placeholder="Retype New Password" formControlName="newpasswordrepeat" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newpasswordrepeat.errors }" class="ion-text-start">
          </ion-input>
        </ion-item>
        <div class="error-container">
          <div *ngIf="submitted && f.newpassword?.errors" class="invalid-feedback">
            <div *ngIf="f.newpassword?.errors?.required">Code is required</div>
          </div>
          <div *ngIf="submitted && form?.errors?.MatchFields" class="invalid-feedback">
            <div>Password has to be the same in both fields</div>
          </div>
          <div class="invalid-feedback">
            <div *ngIf="error">{{error}}</div>
          </div>
        </div>
        <div *ngIf="successMessage">Your new password has been changed. You can <a routerLink="/login">login</a> now with your new password</div>

        <div class="btn-container">
          <ion-button [disabled]="loading" size="small" color="light" class="register-btn" (click)="onSubmit()">Change</ion-button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
