<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="position-logo-center title-color">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="overlay overlay-show">
  <div class="container" *ngIf="histories$ | async as histories">
    <!--<ion-grid>
      <ion-row>
        <ion-col class="center title">
          {{user?.name}}
          <qrcode *ngIf="user?.id" [qrdata]="''+user?.id" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </ion-col>
      </ion-row>
    </ion-grid>-->
    <ion-grid *ngIf="(program$ | async) as program" class="slider-home">
      <ion-slides pager="true">
        <ion-slide>
          <div class="col text-center home-points">
            <div class="text-slider">Available Points</div>
            <div class="text-points">
              <span class="number">{{program.available_points | number:'1.0':'en-US'}}</span><span>pts</span>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="col text-center home-points">
            <div class="text-slider">Locked Points</div>
            <div class="text-points">
              <span class="number">{{program.locked_points | number:'1.0':'en-US'}}</span><span>pts</span>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="next-purchase home-points">
            <div class="text-points text-slider">
              You'll save<div>
              <span class="number">{{program.discount_balance | number: '1.2-2' }}</span>{{program.symbol}}</div>
              on your next purchase
            </div>
          </div>
        </ion-slide>
      </ion-slides>
      <!--<ion-row>
        <ion-col>
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col text-center home-points">
                  <span class="h5  fw-bold">{{program.points_earned + program.points_redeemed}}</span>
                  <h6 class="text-uppercase text-muted mt-2 m-0 font-11">Available Points</h6>
                </div>&lt;!&ndash;end col&ndash;&gt;
              </div> &lt;!&ndash; end row &ndash;&gt;
            </div>&lt;!&ndash;end card-body&ndash;&gt;
          </div>
        </ion-col>
        <ion-col>
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col text-center home-points">
                  <span class="h5  fw-bold">{{(program.points_balance - program.points_earned) | number}}</span>
                  <h6 class="text-uppercase text-muted mt-2 m-0 font-11">Balance Points</h6>
                </div>&lt;!&ndash;end col&ndash;&gt;
              </div> &lt;!&ndash; end row &ndash;&gt;
            </div>&lt;!&ndash;end card-body&ndash;&gt;
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="next-purchase">You'll save <span class="amount">{{program.discount_balance}} {{program.symbol}}</span> on your next purchase</div>
        </ion-col>
      </ion-row>-->
    </ion-grid>
    <ion-grid *ngIf="loading === false; else indicator" class="history-home ion-no-padding">
      <ion-row *ngFor="let history of histories; trackBy: trackById" class="record-row ion-no-padding">
        <ion-col class="ion-no-padding">
          <ion-card>
            <ion-card-content>
              <!--<div class="header-history color-site">
                <span class="reason" [ngSwitch]="history.event_id">
                  <span *ngSwitchCase="1">Purchase</span>
                  <span *ngSwitchCase="2">Cancel Points</span>
                  <span *ngSwitchCase="3">Redeem Points</span>
                  <span *ngSwitchCase="4">Signup Points</span>
                  <span *ngSwitchCase="13">First Purchase</span>
                  <span *ngSwitchCase="14">Manually Added Points</span>
                </span>
                <span class="time right-space"> {{history.updated_at | date:'dd/MM/yyyy @ H:m'}}</span>
              </div>-->
              <ion-accordion-group>
                <ion-accordion value="first" toggleIcon="none">
                  <ion-item slot="header" color="light">
                    <div class="icon-history">
                      <div [ngSwitch]="history.event_id">
                        <!--<span *ngSwitchCase="1"><ion-icon name="add-circle-sharp" class="icon green"></ion-icon></span>-->
                        <!--<span *ngSwitchCase="1"><ion-icon src="assets/icon/purchase-icon.svg" class="icon green"></ion-icon></span>-->
                        <span *ngSwitchCase="1"><ion-icon src="assets/icon/purchase-icon.svg" class="icon greeen bespoke-icon"></ion-icon></span>
                        <!--<span *ngSwitchCase="2"><ion-icon name="close-circle-sharp" class="icon red"></ion-icon></span>-->
                        <span *ngSwitchCase="2"><ion-icon src="assets/icon/return-icon.svg" class="icon orange bespoke-icon"></ion-icon></span>
                        <!--<span *ngSwitchCase="3"><ion-icon name="checkmark-circle-sharp" class="icon yellow"></ion-icon></span>-->
                        <span *ngSwitchCase="3"><ion-icon src="assets/icon/redeem-icon.svg" class="icon orange bespoke-icon"></ion-icon></span>
                        <!--<span *ngSwitchCase="4"><ion-icon name="add-circle-sharp" class="icon green"></ion-icon></span>-->
                        <span *ngSwitchCase="4"><ion-icon src="assets/icon/signup-icon.svg" class="icon greeen bespoke-icon"></ion-icon></span>
                        <!--<span *ngSwitchCase="13"><ion-icon name="add-circle-sharp" class="icon green"></ion-icon></span>-->
                        <span *ngSwitchCase="13"><ion-icon src="assets/icon/firstpurchase-icon.svg" class="icon greeen bespoke-icon"></ion-icon></span>
                        <!--<span *ngSwitchCase="14"><ion-icon name="add-circle-sharp" class="icon green"></ion-icon></span>-->
                        <span *ngSwitchCase="14"><ion-icon src="assets/icon/purchase-icon.svg" class="icon greeen bespoke-icon"></ion-icon></span>
                        <!--<span *ngSwitchCase="4"><ion-icon src="assets/icon/purchase-icon.svg" class="icon green"></ion-icon></span>
                        <span *ngSwitchCase="13"><ion-icon src="assets/icon/purchase-icon.svg" class="icon green"></ion-icon></span>
                        <span *ngSwitchCase="14"><ion-icon src="assets/icon/purchase-icon.svg" class="icon green"></ion-icon></span>-->
                      </div>
                    </div>
                    <div class="description-history">
                      <div>
                        <span>{{history.event.name}}</span>
                      </div>
                      <!--<div [ngSwitch]="history.event_id">
                        <span *ngSwitchCase="1">Purchase</span>
                        <span *ngSwitchCase="2">Cancel Points</span>
                        <span *ngSwitchCase="3">Redeem Points</span>
                        <span *ngSwitchCase="4">Signup Points</span>
                        <span *ngSwitchCase="13">First Purchase</span>
                        <span *ngSwitchCase="14">Purchase</span>
                      </div>-->
                      <div class="time right-space"> {{history.updated_at | date:'dd/MM/yyyy@H:m'}}</div>
                    </div>
                    <div class="history-points" *ngIf="history.points!==null">
                      <div  [ngClass]="{
                        'green': history.event_id === 1 || history.event_id === 4 || history.event_id === 13 || history.event_id === 14,
                        'orange': history.event_id === 3 || history.event_id === 2
                        }">
                        <span class="bold">
                          <span *ngIf="history.event_id !== 3 && history.event_id !== 2">+</span>
                          <span class="points">{{history.points}}</span>
                        </span><span class="points-earned right-space"> pts</span>
                      </div>
                      <div class="shopping-value" *ngIf="history.shopping_value">
                        <span class="money"><span class="currency right-space">{{checkCurrency(history.currency_id)}}</span>{{(history.shopping_value | number : '1.2-2') || '' }} </span>
                        <span [ngSwitch]="history.event_id">
                          <span *ngSwitchCase="1">spent</span>
                          <span *ngSwitchCase="2">cancelled</span>
                          <span *ngSwitchCase="3">redeemed</span>
                          <span *ngSwitchCase="4">received</span>
                          <span *ngSwitchCase="14">spent</span>
                        </span>
                      </div>
                    </div>
                  </ion-item>
                  <div slot="content" class="inside-card">
                      <div *ngIf="history.location?.name || history.business?.website">
                        <div class="bold store">Store: {{history.location?.name || history.business?.website}}</div>
                        <div class="store" *ngIf="history.transaction_number">Ref: {{history.transaction_number}}</div>
                      </div>
                      <hr class="separator-item" />
                      <div *ngIf="history.items?.length > 0">
                        <div class="item-title">Items</div>
                        <div *ngFor="let item of history.items" class="item-wrapper">
                          <div class="ion-float-start item-desc">
                            <div class="item name-product color-site"><span *ngIf="item.quantity">x{{item.quantity}}</span> {{item.name}}</div>
                            <div class="item"><span class="sku-title">sku:</span><span class="sku">{{item.sku}}</span></div>
                            <!--<div class="item"><span class="sku-title">status:</span><span class="sku">{{item.pivot.status}}</span></div>-->
                          </div>
                          <div class="ion-float-end quantity-status">
                            <span class="currency right-space">{{checkCurrency(history.currency_id)}}</span>
                            <span class="price">{{(item.pivot.total | number : '1.2-2') || '' }}</span>
                            <div [ngClass]="{'red': item.pivot.status === 'cancel' || item.pivot.status === 'refund'}" *ngIf="(item.pivot.status === 'cancel' || item.pivot.status === 'refund')"><ion-icon name="return-down-back-outline"></ion-icon> Cancelled</div>
                          </div>
                          <br class="clearfix" />
                        </div>
                      </div>
                      <!--<div class="shopping-value" *ngIf="history.shopping_value">
                        <span class="bold">Total Spent: </span> <span class="money right-space">{{history.shopping_value || '' }}</span><span class="currency right-space">{{checkCurrency(history.currency_id)}}</span>
                      </div>
                      <div class="shopping-points" *ngIf="history.points">
                        <span class="bold">Points
                          <span *ngIf="history.event_id === 3"> Redeemed</span>
                          <span *ngIf="history.event_id !== 3"> Earned</span>:
                        </span> <span class="points">{{history.points}}</span> <span class="points-earned right-space"> Points</span>
                      </div>-->
                  </div>
                </ion-accordion>
              </ion-accordion-group>
              <!--<div>
                <span *ngIf="history.location?.name || history.business?.website"><span class="bold">Store:</span> {{history.location?.name || history.business?.website}}</span>
              </div>
              <div class="items-container" *ngIf="history.items?.length > 0">
                <div class="item-title">Items</div>
                <div *ngFor="let item of history.items">
                  <span class="item name-product color-site">{{item.name}}</span>
                  <div class="ion-float-end"><span class="price">{{item.total}}</span><span class="currency right-space">{{checkCurrency(history.currency_id)}}</span></div><br />
                  <span class="item"><span class="sku-title">sku:</span> {{item.sku}}</span>
                </div>
              </div>
              <div class="shopping-value" *ngIf="history.shopping_value">
                <span class="bold">Total Spent: </span> <span class="money right-space">{{history.shopping_value || '' }}</span><span class="currency right-space">{{checkCurrency(history.currency_id)}}</span>
              </div>
              <div class="shopping-points" *ngIf="history.points">
                <span class="bold">Points
                  <span *ngIf="history.event_id === 3"> Redeemed</span>
                  <span *ngIf="history.event_id !== 3"> Earned</span>:
                </span> <span class="points">{{history.points}}</span> <span class="points-earned right-space"> Points</span>
              </div>-->
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-infinite-scroll threshold="10px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-grid>
  </div>

  <!--<div class="test-push-notifications">
    <ion-button expand="full" (click)="requestPermission()">Request Permission</ion-button>
    <ion-button expand="full" (click)="deleteToken()">Delete Token</ion-button>
  </div>-->

  <ng-template #indicator>
    <div class="spinner"><ion-spinner name="bubbles" color="medium"></ion-spinner></div>
  </ng-template>
</ion-content>
